#main {
    min-height: 20em;
}
.loading {
    color: #999;
}

.book-listing {
    margin-top: 1em;
}

.book-listing a {
    cursor: pointer;
}

header {
    border-bottom: solid rgb(229, 229, 229);
    padding-bottom: 1em;
    margin-bottom: 2em;
}

header a:hover {
    color: #08c;
}

header img {
    display: inline-block;
}

header h1 {
    display: inline-block;
    vertical-align: bottom;
    font-size: 80px;
}

#main {
    margin: 2em;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

tr.empty {
    color: #999;
}

.initial-hide {
    display: none;
}

.book-listing th.select, .book-listing td.select {
    width: 1%;
}

.book-listing th.title, .book-listing td.title {
    width: 50%;
}

i.icon-refresh.loading {
    background-image: url('loader.gif');
    background-position: 0 0;
}
header .links {
    position: absolute;
    top: 1em;
    right: 1em;
}
header li {
    list-style: none;
    display: inline-block;
    border-right: 2px solid #ccc;
    padding-right: 11px;
    padding-left: 10px;
}
header li:last-child {
    padding-right: 0;
    padding-left: 10px;
    border-right: 0;
}
.login-form {
    margin: auto;
    width: 20em;
}

.google-results .search-result {
     cursor: pointer;
}
input.hide {
    display: none !important;
}

a {
    cursor: pointer;
}
.page-header h1 {
    color: rgb(90, 90, 90);
}
