{% extends "libriserve:templates/layout.jinja2" %}

{% block extra_head %}
{% endblock %}

{% block main %}
{% if request.user %}
<h1>Sorry you do not have access to this page</h1>
{% else %}
<p>Please log-in.</p>
{% endif %}
{% endblock %}
