{% extends "libriserve:templates/layout.jinja2" %}

{% block extra_head %}
<script src="{{request.application_url}}/static/third-party/require.js"></script>
<script src="{{request.application_url}}/static/requirejs-config.js"></script>
<script>
  require(['{{request.application_url}}/static/book-listing.js']);
</script>
{% endblock %}

{% block main %}
<legend>Books</legend>
{% if has_permission('add_book') %}
<button class="btn" data-bind="click: show_add_book">
  <i class="icon-plus"></i> Add
</button>
<button class="btn" data-bind="click: toggle_show_selection">
  <i class="icon-tags"></i> Select
</button>
<button id="delete-btn" class="btn" data-bind="click: show_delete"
        disabled="disabled">
  <i class="icon-trash"></i> Delete
</button>
{% endif %}
<button class="btn" data-bind="click: refresh, disable: loading" disabled="disabled">
  <i class="icon-refresh loading" data-bind="css: refresh_class"></i>
</button>
<table class="book-listing table table-condensed table-hover">
  <thead>
    <tr>
      <th class="hide select">
        <input id="toggle-checkbox" type="checkbox" data-bind="click: toggle_all" />
      </th>
      <th class="title">Title</th>
      <th class="author">Author(s)</th>
      <th class="downloads">Downloads</th>
    </tr>
  </thead>
  <tbody>
    <tr class="initial-hide empty" data-bind="if: empty">
      <td colspan="4">No items available</td>
    </tr>
    <!-- ko foreach: books -->
    <tr>
      <td class="hide select">
        <input type="checkbox"
               class="selected"
               data-bind="value: id"/>
      </td>
      <td class="title"><a href="#" data-bind="text: title, click: visit"></a></td>
      <td class="authors">
        <span data-bind="text: author_str"></span>
      </td>
      <td class="downloads">
        <!-- ko foreach: downloads -->
        <a data-bind="text: format, attr: { href: download_url }"></a>
        <!-- /ko -->
      </td>
    </tr>
    <!-- /ko -->
  </tbody>
</table>

<div class="modal hide fade" id="confirm-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p class="details">
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary ok-btn" data-dismiss="modal" aria-hidden="true">Ok</button>
    <button class="btn cancel-btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<div class="modal hide fade" id="add-book-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Book</h3>
    <form action="{{request.application_url}}/c/files/upload"
          id="upload-form"
          method="post"
          enctype="multipart/form-data"
          target="upload-target">
      <input type="hidden" name="book_id" value="" />
      <div class="modal-body">
        <p class="loading hide">Saving...</p>
        <p class="alert hide"></p>
        <fieldset>
          <label>Title</label>
          <input type="text" name="title" placeholder="book title" />
          <label>Authors</label>
          <input type="text" name="authors" placeholder="names separated by comma's" />
          <label>File</label>
          <input type="file" name="file">
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" aria-hidden="true"
                data-bind="click: add_book">Add</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </form>
    <iframe id="upload-target" class="hide">
    </iframe>
  </div>
</div>
{% endblock %}
