{% extends "libriserve:templates/layout.jinja2" %}

{% block extra_head %}
<script src="{{request.application_url}}/static/third-party/require.js"></script>
<script src="{{request.application_url}}/static/requirejs-config.js"></script>
<script>
  require(['{{request.application_url}}/static/book-details.js'], function(bookmod) {
      bookmod.init({{book | safe}});
  });
</script>
{% endblock %}

{% block main %}
{% if not request.user.is_anonymous %}
<div class="controls">
  <button class="btn btn-delete" data-bind="click: remove">Delete</button>
  <button class="btn btn-modify" data-bind="click: modify">Modify</button>
  <button class="btn btn-save hide" data-bind="click: save">Save</button>
  <button class="btn btn-cancel hide" data-bind="click: cancel">Cancel</button>
  <button class="btn" data-bind="click: lookup_info">Query Google Books</button>
</div>
{% endif %}
<h1 class="field" id="book-title" data-bind="text: title">{{ request.context.title }}</h1>
<input class="modify hide" type="text" name="title" data-bind="value: title" />
<input type="hidden" name="id" value="{{ request.context.id }}"
       data-bind="value: id" />
<dl>
  <dt>Authors</dt>
    <!-- ko foreach: authors -->
    <dd class="hide author">
      <span class="field" data-bind="text: name"></span>
      <div class="modify hide">
        <input type="text" name="author" data-bind="value: name" />
        <a data-bind="click: remove">X</a>
      </div>
    </dd>
    <!-- /ko -->
  {% for author in request.context.authors %}
    <dd class="author provided" data-bind="text: name">{{ author.name }}</dd>
  {% endfor %}
</ul>

<div class="modal hide fade" id="info-lookup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Lookup Info</h3>
  </div>
  <div class="modal-body">
    <label>Title</label>
    <input type="text" name="title" value="{{ request.context.title }}" />

    <table class="table google-results table-bordred">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <!-- ko foreach: items -->
        <tr data-bind="click: update_with_google" class="search-result">
          <td>
            <img data-bind="attr: {src: cover_url}" />
          </td>
          <td data-bind="text: title"></td>
        </tr>
        <!-- /ko -->
      </tbody>
    </table>
      
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary ok-btn" aria-hidden="true" data-bind="click: search">Find</button>
    <button class="btn cancel-btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
{% endblock %}
