<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Main
      {% endblock %}
      - LibriServe
    </title>
    <link rel="shortcut icon" href="{{request.application_url}}/static/favicon.ico" />
    <link rel="stylesheet" href="{{request.application_url}}/static/style.css"
          type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet"
          href="{{request.application_url}}/static/third-party/bootstrap/css/bootstrap.min.css"
          type="text/css" media="screen" charset="utf-8" />

    <link rel="alternate"
          title"Catalog"
          href="{{request.application_url}}/catalog.atom"
          type="application/atom+xml" charset="utf-8" />

    <script>
{% if request.registry.settings['pyramid.debug_templates'] %}
global_config = {
    jquery_url: '{{request.application_url}}/static/third-party/jquery-1.9.0.js',
    bootstrap_js_url: '{{request.application_url}}/static/third-party/bootstrap/js/bootstrap.js',
    knockout_url: '{{request.application_url}}/static/third-party/knockout-2.2.1.js'
};
{% else %}
global_config = {
    jquery_url: '{{request.application_url}}/static/third-party/jquery-1.9.0.min.js',
    bootstrap_js_url: '{{request.application_url}}/static/third-party/bootstrap/js/bootstrap.min.js',
    knockout_url: '{{request.application_url}}/static/third-party/knockout-2.2.1.js'
};
{% endif %}
global_config.base_url = '{{request.application_url}}/static';
    </script>

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{ request.application_url }}">
          <img src="{{ request.application_url }}/static/mini-book-worm.png" />
          <h1>LibriServe</h1>
        </a>
      </div>
      <ul class="links">
        {% if request.user.is_anonymous %}
        <li><a href="{{ request.application_url }}/auth/login">Log-in</a></li>
        {% else %}
        <li><a href="{{ request.application_url }}/auth/logout">Log-out</a></li>
        {% endif %}
        <li><a href="{{ request.application_url }}/catalog.atom">feed</a></li>
      </ul>
    </header>
    <section id="main">
      <div class="page-header">
        <h1>{% block subtitle %}{% endblock %}</h1>
      </div>
      {% block main %}
      {% endblock %}
    </section>

    <footer>
      <hr/>
      LibriServe is &copy; Rocky Burt.  All content served by LbriServe is copyright their respective owners.
    </footer>
  </body>
</html>
