{% extends "libriserve:templates/layout.jinja2" %}
{% block main %}
{% if message %}
<div class="alert alert-info">
{{ message }}
</div>
{% endif %}
<div class="login-form">
<form method="POST">
  <fieldset>
    <legend>Log-in</legend>

    <label>Username</label>
    <input type="text" name="username" />

    <label>Password</label>
    <input type="password" name="password" />

    <div class="controls">
      <button class="btn btn-primary">Log-in</button>
    </div>
  </fieldset>
</form>
</div>
{% endblock %}
